.planet-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}
    
.planet-list article {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 32PX;
    line-height: 48px;
}

.planet-list article p {
    font-size: 32px;
    color: #000;
    margin-top: 5px;
    line-height: 48px;
    margin-left: 30px;
}

.planet-list .planet-name {
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.planet-list .planet-description {
    border: 1px solid #000;
    border-radius: 5px;
}

.planet-list .planet-features {
    text-align: center;
}

.planet-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 20px;
}
    
.planet-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #4682B4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.planet-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.planet-list .actions button:hover {
    opacity: 0.7;
}

.planet-list .actions button[disabled]:hover {
    opacity: 0.5;
}
